/*** Menu Nav ***/
#site-navigation {
    position: relative;
  }
  
  .main-navigation.toggled ul{
    display: flex !important;
  }
    
  .navbar{
    font-size: 38px;
    color: black;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    .navbar-content {
        position: relative;
        width: 100%;
        height: 91vh;
        background: #fff5e9;
        display: none;
        ul {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 300px;
            gap: 1em;
          }
        a:hover {
            filter : drop-shadow(0px 0px 5px #ff5c00);
          }
      }
      
  }
  
  .navbar-burger{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 100%;
    gap: 8px;
    padding: 0;
    top: 0;
    right: 5em;
    cursor: pointer;
  }
  
  .logo-burger {
    position: relative;
    margin: 40px;
  }
  
  .navbar-content--story{
 position: relative;
    &::before{
    content: url(../foce-child/assets/cat.png);
    position: absolute;
    right: 25em;
    bottom: 3em;
    animation: float 7s 200ms infinite ease-in-out;
    transform: scale(0.7);
  }
  &::after{
    content: url(../foce-child/assets/Sunflower.png);
    position: absolute;
    left: 24em;
    bottom: 0em;
    animation: rotate-flowers 15s linear infinite;
  }
}
  
  .navbar-content--characters{
  position: relative;
  &::after{
    content: url(../foce-child/assets/Random-Flower.png);
    position: absolute;
    left: 54em;
    top: -2em;
    animation: rotate-flowers2 15s linear infinite;
  }
}
  .navbar-content--place{
  position: relative;
    &::before{
    content: url(../foce-child/assets/chat-gris.png);
    position: absolute;
    left: 20em;
    top: -4em;
    animation: float 6s 200ms infinite ease-in-out;
    transform: scale(0.6);
  }
  &::after{
    content: url(../foce-child/assets/Flower.png);
    position: absolute;
    right: 28em;
    top: -2em;
    animation: rotate-flowers 15s linear infinite;
    transform: scale(0.5);
  }
}

  .navbar-content--footer{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    font-size: 20px;
  &::before {
    content: url(../foce-child/assets/chat-roux.png);
    position: absolute;
    right: 30em;
    animation: float 5s 300ms infinite ease-in-out;
    bottom: 0;
  }
  &::after {
    content: url(../foce/assets/images/hibiscus_footer.png);
    position: absolute;
    left: 500px;
    bottom: -23.5em;
    animation: rotate-flowers 15s linear infinite;;
  }
}
  
  .navbar-content::after {
    content: url(../foce/assets/images/orchid.png);
    position: absolute;
    left: -4em;
    top: 3em;
    transform: scale(0.8);
    animation: rotate-flowers 15s linear infinite;
  }
  
  .navbar-burger .line {
    height: 3px;
    background-color: #000;
    display: block;
    width: 100%;
    margin: 0;
    transition: all .3s ease-in-out;
  }
  
  .navbar-burger.close {
  .line:first-child.line:first-child.line:first-child.line:first-child{
    transform: rotate(45deg) translate3d(15px, 10px, 0);
  }
  .line:nth-child(2) {
    opacity: 0;
  }
  span.line:last-child {
    transform: rotate(-45deg) translate3d(7px, 1px, 0);
  }
}
  
  .navbar li {
      > a {
    font-size: 3.1rem;
    color: black;
  }
      > a:hover {
    font-weight: 500;
  }
}

/*** Media queries***/

@media screen and (min-width: 320px) and (max-width:780px){
    html{
      overflow-x: hidden;
    }
    /*** Menu navbar ***/
    .main-navigation 
    .main-navigation{
      height: 80px;
    ul {
        display: flex !important;
      }
    a {
      display: block;
    }
  }
    .navbar-burger{
      position: absolute;
      right: 2em;
    }
    .navbar {
      font-size: 0;
    li 
    > a:hover {
      font-weight: 500;
  }
}
  .navbar-content a:hover {
    filter : drop-shadow(0px 0px 5px #ff5c00);
  }
    .navbar-content::after {
      position: absolute;
      left: 8em;
      animation: rotate-flowers3 15s linear infinite;
  }
    .navbar-content--story{
    &::before {
      position: absolute;
      right: 20em;
      bottom: 0.5em;
  }
    &::after {
      position: absolute;
      bottom: 5em;
      animation: rotate-flowers3 15s linear infinite;
  }
}
    .navbar-content--place{
      position: relative;
    &::before {
      position: absolute;
      left: 15em;
  }
    .navbar-content--place
    &::after {
      position: absolute;
      right: 17em;
  }
}
    .navbar-content--characters::after {
      position: absolute;
      left: 30em;
      top: -7em;
  }
    .navbar-content--footer::before {
      position: absolute;
      right: 15em;
      top: -15em;
  }
  .navbar-content--footer::after {
    position: absolute;
    left: 0;
  }
    /*** Chats navbar ***/
    .navbar-content--story::before,
    .navbar-content--place::before,
    .navbar-content--footer::before{
      animation: float2 7s infinite ease-in-out;
    }
    
    /*** Logo ***/
    .banner {
      width: 50%;
      top:15%;
      animation: move-up 2s 300ms both, float 10s 2s infinite ease-in-out;
    }
    /*** Titre personnages***/
    .story #characters h3{
      right: 0;
      position: relative;
    }
    /*** Nuages ***/
    #big_cloud{
      width: 50%;
      position: relative;
      top: -5em;
      left: 15em;
    }
    #little_cloud{
      width: 50%;
      position: relative;
      top: -6em;
      left: 9em;
    }
  
  /*** Studio ***/
    .studio-title{
      font-size: 30px;
    
    #studio h2::before{
      content: url(./assets/random_flower.png);
      animation: rotate-flowers3 15s linear infinite;
      position: absolute;
      left: -25%;
    }
    #studio h2::after{
      content: url(./assets/flower.png);
      position: absolute;
      right: 1%;
    }
  }
    /*** Section finale ***/
    .nomination{
      font-size: 15px;
      position: relative;
      top: -5em;
      background-size: 100%;
    }
    .oscars{
      position: relative;
      top: 10em;
    }
   
    .section-finale {
      margin: 10px;
  }
    .nomination{
    &::before {
      transform: scale(0.5);
      position: absolute;
      top: -10em;  
      left: -8em;
      animation: rotate-flowers3 15s linear infinite;
    }
    &::after{ 
    position: absolute;
    right: -29em;
    top: -15em;
    animation: rotate-flowers3 15s linear infinite;
    }
  }
}
  
  @media screen and (min-width:780px) and (max-width: 900px){
    html{
      overflow-x: hidden;
    }
     /*** Menu navbar ***/
    .main-navigation{
      height: 80px;
     ul {
      display: flex !important;
    }
  }
    .navbar {
      font-size: 0;
    li 
    > a:hover {
      font-weight: 500;
  }
}
  .navbar-content {
  
  a:hover {
    filter : drop-shadow(0px 0px 5px #ff5c00);
  }
    &::after {
      position: absolute;
      left: 8em;
      animation: rotate-flowers3 15s linear infinite;
  }
}
    .navbar-content--story{
    position: relative;
    &::before {
      position: absolute;
      right: 20em;
      bottom: 0.5em;
  }
    &::after {
      position: absolute;
      bottom: 5em;
      animation: rotate-flowers3 15s linear infinite;
  }
}
    .navbar-content--place{
    position: relative;
    &::before {
      position: absolute;
      left: 15em;
  }
    &::after {
      position: absolute;
      right: 17em;
      top: -1em;
  }
}
    .navbar-content--characters::after {
      position: absolute;
      left: 33em;
      top: -5em;
  }
    .navbar-content--footer::before {
      position: absolute;
      right: 15em;
  }
     /*** Chats navbar ***/
     .navbar-content--story::before,
     .navbar-content--place::before,
     .navbar-content--footer::before{
      animation: float2 7s infinite ease-in-out;
    }
     /*** Logo ***/
    .banner {
      width: 50%;
      top:15%;
      animation: move-up 2s 300ms both, float 10s 2s infinite ease-in-out;
    }
    /*** Story-title***/
    .story-title{
      font-size: 50px;
    }
    /*** Titre personnages***/
    .story #characters h3{
      right: 10%;
      position: relative;
    }
    /*** Nuages ***/
    #big_cloud{
      width: 50%;
      position: relative;
      top: -8em;
      left: 75em;
    }
    #little_cloud{
      position: relative;
      top: -8em;
      left: 60em;
    }
    /*** Studio ***/
    #studio h2{
    &::after{
      content: url(./assets/flower.png);
    }
    &::before{
      content: url(./assets/random_flower.png);
      animation: rotate-flowers3 15s linear infinite;
    }
    }
      /*** Section finale ***/
    .nomination{
      font-size: 20px;
    
    &::before {
      position: absolute;
      left: -7em;
      top: -8.5em;
      animation: rotate-flowers3 15s linear infinite;
    }
    &::after{ 
      position: absolute;
      right: -20.5em;
      top: -12.5em;
      animation: rotate-flowers3 15s linear infinite;
    }
  }
}